* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", system-ui, -apple-system, sans-serif;
  background: #eff3f6;
  color: #111111;
}

button,
input {
  font-family: inherit;
}
