.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  width: 59px;
  height: 447px;
  background: #ffffff;
}

.sidebarLogo {
  width: 35px;
  height: 35px;
  border-radius: 7px;
  background: #2170e6;
  display: grid;
  place-items: center;
  position: absolute;
  left: 12px;
  top: 22px;
  overflow: hidden;
}

.sidebarLogo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.65);
}

.sidebarItem {
  width: 35px;
  height: 35px;
  border-radius: 7px;
  display: grid;
  place-items: center;
  color: #236dd0;
  font-size: 5px;
  text-align: center;
  line-height: 1.2;
  gap: 2px;
  position: absolute;
  left: 12px;
  cursor: pointer;
  text-decoration: none;
}

.sidebarItemActive {
  background: #e6f0f9;
  color: #236dd0;
  --stroke-0: #236dd0;
}

.sidebarItemInactive {
  background: transparent;
  color: #afaeae;
  --stroke-0: #afaeae;
}

.sidebarIconActive {
  filter: none;
  color: inherit;
}

.sidebarIconInactive {
  filter: none;
  opacity: 1;
  color: inherit;
}

.sidebarItemHome {
  top: 82px;
}

.sidebarItemReports {
  top: 122px;
}

.sidebarItemKnowledge {
  top: 162px;
}
